
@{
    ViewBag.Title = "Adres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div id="sidebar" class="span3">
        <div class="well well-small">
            <ul class="nav nav-list">
                @Html.Action("_CategoryList", "Category")
                <li style="border:0"> &nbsp;</li>
                @Html.Action("Summary", "Cart")
            </ul>
        </div>


        @Html.Action("_FeaturedProductList", "Home")

    </div>
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="/Home/Index"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ana Sayfa </font></font></a> <span class="divider"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">/</font></font></span></li>
            <li class="active"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Adres</font></font></li>
        </ul>
        <div class="well well-small">
            <h4>Adres: </h4>
            <h4>Telefon: </h4>
            <hr class="softn clr">

        </div>
    </div>
</div>